// _variables.scss
// =================

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);


$grey-l : #dddddd;
$purple : #7e57c2;
//colors
$ig-screen-sm-min: 768px;
$ig-white: #fff;
$ig-black: #222;
$ig-blue: #8B9975;
$ig-green:#0B3B0B;
//fonts
$headFont : 'Roboto', sans-serif;
$bodyFont : 'OpenSans-Light', serif;

